@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@font-face {
  font-family: "NanumGothic";
  src: url("/NanumGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "NanumGothic";
  src: url("/NanumGothic-Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
